<%= turbo_stream_from :rooms %>

<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>
<p id="alert"><%= alert %></p>

<div class="mt-2 mb-3">
  <%= render 'rooms/form', room: @room %>
</div>

<h2>Rooms</h2>

<ul class="mt-4 list-unstyled" id="rooms">
  <div class="list-group">
    <% @rooms.each do |room| %>
        <%= render room %>
    <% end %>
  </div>
</ul>

<h2>Users</h2>

<ul class="mt-4 list-unstyled" id="rooms">
  <div class="list-group">
    <% @users.each do |user| %>
        <%= render user %>
    <% end %>
  </div>
</ul>
